<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h2>{{ .Data.Term }}</h2>
		{{ else }}
		<h2 class="page-title">{{ .Name }}</h2>
		{{ end }}

		<ul class="posts flat">
			{{ range first 12 .Data.Pages }}
				{{ if ne .Section "photos" }}
			{{- else -}}
			<li class="post">
				<div class="post-header">

					<div class="matter">
						<h4 class="title small">
							<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
						</h4>
						{{ with .Resources.GetMatch (.Params.featured_image) }}
						{{ $image := .Fill "600x400" }}
						<span class="photoindex"><a href="{{ .RelPermalink }}"><img src="{{ $image.Permalink }}"></a></span>
						{{ end }}
						<span class="description">
							{{ if isset .Params "description" }}
								{{ .Description }}
							{{ else if gt (len .RawContent) 120 }}
								{{ slicestr .RawContent 0 120 }}...
							{{ else }}
								{{ .RawContent }}
							{{ end }}
							{{ end }}
						</span>
					</div>
				</div>
			</li>
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>
</html>